Repository vinceyyy/figma-cc: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, ty

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Ruff — Python linting + formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Biome — TypeScript/HTML/CSS linting + formatting (local hook using project npm dep)
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: npx biome check --write
        language: system
        files: ^figma-plugin/
        pass_filenames: false

  # ty — Python type checking (local hook using project dep)
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check api/
        language: system
        pass_filenames: false
        types: [python]

docs: update CLAUDE.md and README.md with DevOps tooling references
  CLAUDE.md
  README.md
Due: none

feat: replace Skeptical Customer persona with UX Heuristics Evaluator
  CLAUDE.md
  personas/skeptical_customer.json
  personas/ux_heuristics_evaluator.json
  tests/test_personas.py
Due: ty

feat: emit persona-start SSE events for progress tracking
  api/agents/persona_agent.py
  api/routers/feedback.py
  tests/test_feedback_endpoint.py
  tests/test_integration.py
Due: ty

feat: emit per-frame export progress from main thread
  figma-plugin/code.js
  figma-plugin/code.ts
Due: biome-check

feat: UI polish — button hierarchy, progress indicator, visual refinements
  figma-plugin/ui.html
Due: biome-check

fix: XSS in tooltip innerHTML and SSE chunk boundary bug
  figma-plugin/ui.html
Due: biome-check

fix: incremental results, granular progress phases, layout fixes
  figma-plugin/ui.html
Due: biome-check

feat: simplify loading screen and polish result cards
  figma-plugin/ui.html
Due: biome-check

docs: update persona references from Skeptical Customer to UX Heuristics Evaluator
  README.md
  docs/architecture.md
Due: none

fix: tighten result layout, active tab style, biome lint
  figma-plugin/ui.html
Due: biome-check

fix: add type=button to all buttons for biome useButtonType
  figma-plugin/ui.html
Due: biome-check

fix: biome lint errors, active tab style, progress hint text
  figma-plugin/ui.html
Due: biome-check

chore: update deps, align local and CI biome versions
  figma-plugin/ui.html
  pyproject.toml
  uv.lock
Due: biome-check

chore: reinstall all deps via CLI tools for consistent version pinning
  figma-plugin/package-lock.json
  figma-plugin/package.json
  pyproject.toml
  uv.lock
Due: biome-check

feat: plugin UI polish — loading screen, progress, result cards (#4)
  CLAUDE.md
  README.md
  api/agents/persona_agent.py
  api/routers/feedback.py
  docs/architecture.md
  figma-plugin/code.js
  figma-plugin/code.ts
  figma-plugin/package-lock.json
  figma-plugin/package.json
  figma-plugin/ui.html
  personas/skeptical_customer.json
  personas/ux_heuristics_evaluator.json
  pyproject.toml
  tests/test_feedback_endpoint.py
  tests/test_integration.py
  tests/test_personas.py
  uv.lock
Due: biome-check, ty

refactor: rename project from figma-cc to synthetic-design-feedback
  CLAUDE.md
  README.md
  docs/plans/2026-02-25-modular-refactoring-design.md
  figma-plugin/manifest.json
  figma-plugin/package-lock.json
  figma-plugin/package.json
  pyproject.toml
  uv.lock
Due: biome-check

refactor: rename project from figma-cc to synthetic-design-feedback (#5)
  CLAUDE.md
  README.md
  docs/plans/2026-02-25-modular-refactoring-design.md
  figma-plugin/manifest.json
  figma-plugin/package-lock.json
  figma-plugin/package.json
  pyproject.toml
  uv.lock
Due: biome-check

refactor: codebase cleanup — modernize Python/TS, fix stale docs, consolidate tests
  .pre-commit-config.yaml
  api/agents/persona_agent.py
  api/config.py
  api/logging.py
  api/main.py
  api/personas/definitions.py
  api/routers/feedback.py
  docs/architecture.md
  docs/plans/2026-02-25-modular-refactoring-design.md
  docs/plans/2026-02-25-modular-refactoring-plan.md
  docs/plans/2026-02-25-structured-logging-design.md
  docs/plans/2026-02-25-structured-logging-plan.md
  figma-plugin/code.js
  figma-plugin/code.ts
  figma-plugin/package.json
  figma-plugin/tsconfig.json
  figma-plugin/ui.html
  personas/ux_heuristics_evaluator.json
  tests/conftest.py
  tests/test_agent.py
  tests/test_integration.py
Due: biome-check, ty

refactor: codebase cleanup — modernize Python/TS, fix stale docs, consolidate tests (#6)
  .pre-commit-config.yaml
  api/agents/persona_agent.py
  api/config.py
  api/logging.py
  api/main.py
  api/personas/definitions.py
  api/routers/feedback.py
  docs/architecture.md
  docs/plans/2026-02-25-modular-refactoring-design.md
  docs/plans/2026-02-25-modular-refactoring-plan.md
  docs/plans/2026-02-25-structured-logging-design.md
  docs/plans/2026-02-25-structured-logging-plan.md
  figma-plugin/code.js
  figma-plugin/code.ts
  figma-plugin/package.json
  figma-plugin/tsconfig.json
  figma-plugin/ui.html
  personas/ux_heuristics_evaluator.json
  tests/conftest.py
  tests/test_agent.py
  tests/test_integration.py
Due: biome-check, ty

feat: SSE keepalive heartbeats to prevent ALB timeout
  api/agents/persona_agent.py
  api/routers/feedback.py
Due: ty

feat: UX polish and Dockerfile for production deployment
  .dockerignore
  Dockerfile
  figma-plugin/ui.html
Due: biome-check

feat: optional API key authentication with auto-detection
  .env.example
  api/config.py
  api/main.py
  figma-plugin/code.js
  figma-plugin/code.ts
  figma-plugin/package-lock.json
  figma-plugin/ui.html
  tests/__init__.py
  tests/conftest.py
  tests/test_feedback_endpoint.py
  tests/test_integration.py
Due: biome-check, ty

feat: SSE keepalive heartbeats to prevent ALB timeout (#7)
  api/agents/persona_agent.py
  api/routers/feedback.py
Due: ty

feat: UX polish and Dockerfile for production deployment (#8)
  .dockerignore
  Dockerfile
  figma-plugin/ui.html
Due: biome-check

feat: optional API key authentication with auto-detection (#9)
  .env.example
  api/config.py
  api/main.py
  figma-plugin/code.js
  figma-plugin/code.ts
  figma-plugin/package-lock.json
  figma-plugin/ui.html
  tests/__init__.py
  tests/conftest.py
  tests/test_feedback_endpoint.py
  tests/test_integration.py
Due: biome-check, ty

feat: company deployment, Blend360 branding, and API key auth (#1)
  .dockerignore
  .env.example
  CLAUDE.md
  Dockerfile
  README.md
  docs/assets/tutorial.jpg
  docs/plans/2026-02-25-company-deployment-design.md
  docs/plans/2026-02-25-company-deployment-plan.md
  figma-plugin/manifest.json
  figma-plugin/ui.html
Due: biome-check

feat: auto-detect auth requirement in plugin UI
  figma-plugin/ui.html
Due: biome-check

refactor: code review fixes across backend, plugin, and tests
  CLAUDE.md
  api/agents/persona_agent.py
  api/main.py
  api/personas/definitions.py
  api/routers/feedback.py
  docs/plans/2026-02-25-company-deployment-design.md
  docs/plans/2026-02-25-company-deployment-plan.md
  figma-plugin/ui.html
  tests/conftest.py
  tests/test_feedback_endpoint.py
  tests/test_integration.py
Due: biome-check, ty

refactor: code review fixes across backend, plugin, and tests (#10)
  .dockerignore
  .env.example
  CLAUDE.md
  Dockerfile
  README.md
  api/agents/persona_agent.py
  api/main.py
  api/personas/definitions.py
  api/routers/feedback.py
  docs/assets/tutorial.jpg
  figma-plugin/manifest.json
  figma-plugin/ui.html
  tests/conftest.py
  tests/test_feedback_endpoint.py
  tests/test_integration.py
Due: biome-check, ty

fix: ES6 compat for Figma plugin sandbox + release CD workflow (#11)
  .github/workflows/release-plugin.yml
  figma-plugin/code.js
  figma-plugin/code.ts
  figma-plugin/tsconfig.json
Due: biome-check

style: inverted pill score badges on persona tabs + ui cleanup
  figma-plugin/ui.html
Due: biome-check
